@import "./../../styles/variables.scss";

.submit-btn {
  appearance: none;
  background-color: $turquoise200;
  border: 1px solid $turquoise200;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 16px;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  margin-top: 20px;
}

.submit-btn:hover {
  background-color: $turquoise100;
  border: 1px solid $turquoise100;
}
