@import './../../styles/variables.scss';

.home-wrapper {
  height: calc(100% - 2vh);
  width: calc(100% - 2vw);
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 1vh 1vw;

  .view-container {
    width: 100%;
    height: 84vh;
  }
}

.message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  margin-left: 25%;
  margin-right: 25%;
  background: url('./../../assets/images//userProfile.jpg');
  background-size: contain;
  border-radius: 5vh;
  box-shadow: 2px 4px 6px 2px #cdb491;

  .message-text {
    font-family: mv boli;
    font-size: 2.1vh;
    margin-left: 2vh;
    margin-right: 2vh;
    margin-bottom: 0;
  }

  .back-button {
    width: 10vw !important;
    margin-bottom: 1vh !important;
  }
}
