@import './../../../../styles/variables.scss';

.checkbox-form {
  display: flex;
  flex-direction: column;
  width: 40%;

  .to-do-header {
    display: flex;
    justify-content: space-around;
    align-items: center;

    .title {
      margin-left: 22%;
      margin-bottom: 2.5vh;
      font-size: 1vw;
      font-weight: bold;
      font-family: mv boli;
      color: $brown700;
    }
  }

  .to-do-input {
    & > div {
      margin-bottom: 0.45vh;
      display: flex;
      height: 3vh;
    }
  }
}

.scroll {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 37.5vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $brown700;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $brown700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbac7ef2;
} /* width */
::-webkit-scrollbar {
  width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $brown700;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $brown700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbac7ef2;
}
