@import '/src/js/styles/variables.scss';

.field-container {
  display: flex;
  flex-direction: row;
  position: relative;
  .field-icon {
    background-color: $brown700;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.5vh;
    height: 3.5vh;

    & > svg {
      width: 2vh;
    }

    .icon-color {
      color: $brown200;
    }
  }
  .field-input {
    border: 1px solid lightgray;
    font-family: mv boli;
    color: gray;
    padding: 2px 10px;
    border-radius: 0px 5px 5px 0px;
    font-size: 1.5vh;
    width: calc(100% - 5vh);
    background-color: $field_input_bck;
    position: relative;
    &:invalid {
      border-color: $brown500;
    }

    &:focus-visible {
      outline: none;
      border-color: gray;
    }
  }
  .error-message {
    margin: 0;
    position: absolute;
    bottom: -14px;
    left: 45px;
    font-size: 12px;
    color: $brown500;
  }
  &.auth-input {
    margin-top: 2.5vh;
    margin-bottom: 1vh;
  }

  .eye-icon {
    position: absolute;
    color: $brown700;
    cursor: pointer;
    right: 0.5vh;
    top: 59%;
    transform: translateY(-50%);

    & > svg {
      width: 2vh;
    }
  }
}
