@import "./../../styles/variables.scss";

.backgroundImg {
  background: url("./../../assets/images/bck2.webp");
  background-size: cover;

  .login_form {
    height: 372px;
    width: 329px;
    border: 3px solid $brown700;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $bck100;

    .login-title {
      border: 3px solid $brown700;
      background-color: $brown700;
      color: $brown200;
    }
  }
}
