@import './../../styles/variables.scss';

.buttons {
  height: 3vh;
  width: 5vw;
  background-color: $brown700;
  border-radius: 0.7vw;
  border: 0.15vw solid $button_pressed;
  box-sizing: border-box;
  color: $button_pressed;
  cursor: pointer;
  font-size: 0.9vw;
  font-weight: 500;
  line-height: 1vw;
  list-style: none;
  margin: 0;
  outline: none;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  font-family: mv boli;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
