@import "./../../../../styles/variables.scss";

.parent {
  display: grid;
  height: 169px;
  width: 600px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 2px solid $brown700;

  .dayName {
    text-align: center;
    color: $brown700;
    font-family: cursive;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 56px;
  }

  .dateStyle {
    font-family: cursive;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-top: 40px;
    padding-left: 10px;
    border-bottom: 2px solid $brown500;
  }

  .note {
    font-family: cursive;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
    padding-left: 10px;
    border-width: 0 0 2px;
    border-color: $brown300;
    border-style: outset;
    margin-bottom: auto;
  }

  .inputWithoutBorders {
    border-width: 0px;
    border: none;
    width: 238px;
    font-size: 16px;
    background: none;
  }
}
