@import "./../../../../styles/variables.scss";

.dateForm {
  height: 169px;
  border-bottom: 2px solid $brown700;
  display: flex;
  font-weight: bold;

  .dateInputForm {
    display: flex;
    flex-direction: column;
  }

  .dayName {
    text-align: center;
    color: $brown700;
    font-family: mv boli;
    font-size: 56px;
    width: 50%;
  }

  .dateStyle {
    font-family: mv boli;
    padding-top: 40px;
    padding-left: 10px;
    border-bottom: 2px solid $brown500;
    color: $brown700;
  }

  .note {
    font-family: mv boli;
    padding-left: 10px;
    border-width: 0 0 2px;
    border-color: $brown300;
    border-style: outset;
    margin-bottom: auto;
    color: $brown700;
  }

  .inputWithoutBorders {
    border-width: 0px;
    border: none;
    width: 260px;
    font-size: 16px;
    background: none;
    border-radius: 5px;

    &:focus-visible {
      outline: 2px solid $brown700;
    }
  }

  

}
