@import "./../../../../styles/variables.scss";

@import "./../../../../../../node_modules/react-datepicker/dist/react-datepicker.css";

.dateForm {
  height: 169px;
  border-bottom: 2px solid $brown700;
  display: flex;
  font-weight: bold;

  .dateInputForm {
    display: flex;
    flex-direction: column;
  }

  .dayName {
    text-align: center;
    color: $brown700;
    font-family: mv boli;
    font-size: 56px;
    width: 50%;
  }

  .dateStyle {
    font-family: mv boli;
    padding-top: 40px;
    padding-left: 10px;
    border-bottom: 2px solid $brown500;
    color: $brown700;
  }

  .note {
    font-family: mv boli;
    padding-left: 10px;
    border-width: 0 0 2px;
    border-color: $brown300;
    border-style: outset;
    margin-bottom: auto;
    color: $brown700;
  }

  .inputWithoutBorders {
    border-width: 0px;
    border: none;
    width: 260px;
    font-size: 16px;
    background: none;
    border-radius: 5px;

    &:focus-visible {
      outline: 2px solid $brown700;
    }
  }


  

}
.react-datepicker__tab-loop {
    position: relative !important;
}
.buttonDatePicker {
  margin-left: 7rem;
  border: 2px solid #4f0200;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
}

.datePicker {
  visibility: hidden;
  height: 0;
  padding: 0;
  width: 0;
  position: absolute;
}

.react-datepicker-wrapper {
  width: 0px !important; 
  height: 0px;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {

  padding: -1px !important;
  margin-left: 11px !important;
}

.react-datepicker__year-read-view--down-arrow, .react-datepicker__month-read-view--down-arrow, .react-datepicker__month-year-read-view--down-arrow, .react-datepicker__navigation-icon::before {
  border-color: #4f0200 !important;
}

.react-datepicker__header {
  background-color: #f0e7d6 !important;
  border-bottom: 1px solid #4f0200 !important;
}

.react-datepicker {
  background-color: #f8f3e7 !important;
  border: 1px solid #d3bfac !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range, .react-datepicker__month-text--selected, .react-datepicker__month-text--in-selecting-range, .react-datepicker__month-text--in-range, .react-datepicker__quarter-text--selected, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__quarter-text--in-range, .react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {

  background-color: #4f0200 !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  top: 0px;
  left: -3px;
  border-bottom-color: #4f0200 !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before, .react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: #4f0200 !important; 
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {

  border-bottom-color: #4f0200 !important;
  left: 3px !important;
}

.react-datepicker-popper {

    // transform: translate(779px, 153px) !important;
    position: absolute !important;
      right: 1.5rem !important;
      transform: translate(100%, 10px) !important;
}

.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {

  background-color: #4f020024 !important;
}

.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {

  background-color: transparent !important;
  color: black !important;
}

.react-datepicker-popper[data-placement^=bottom] {
  padding-top: 0px !important;
}