html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  font-family: mv boli;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  color: #f3f3f3;
  background-color: #27272d;
}

h1 {
  margin-left: 25px;
}

.loading-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg);
  }
}

.loading-image {
  animation: App-logo-spin infinite 15s linear;
}