.timeForm {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.timeInput {
  border-width: 0px;
  border: none;
  width: 210px;
  font-size: 13px;
  border-bottom: 1px solid #ea4c89;
}
