@import "./../../styles/variables.scss";

.sidebar {
  height: 100%;
  // position: absolute;
  left: 0;
  width: 50px;
  background-color: $brown200;
  display: flex;
  flex-direction: column;
}

.user-header-profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: $brown700;
  border-style: none;
  color: $brown200;
  cursor: pointer;
  line-height: 20px;
  margin-left: 9px;
  margin-top: 9px;
}
