@import "./../../styles/variables.scss";



.dailyViewFrame {
  display: flex;
  flex-direction: column;

  .dailyPlannerFrame {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    .dailyPlannerform1 {
      width: 700px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      margin-top: 3%;
  
      .checkBox {
        display: flex;
        width: 700px;
      }
    }
    
    .dailyPlannerform2 {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      // margin-top: 16%;
  
      .shadowLine {
        border-bottom: 2px solid $brown700;
        margin-bottom: 15px;
      }

      .buttonArrow {
        display: flex;
        margin-bottom: 5rem;
        margin-top: 10rem;
        justify-content: center;

        .buttonArrowStyle {
          margin-right: 4px;
          width: 3.5rem;
          height: 1.5rem;
          border-radius: 7px;
          border-color: #4f0200;
          background-color: #f0e7d6;
          color: #4f0200;
          font-weight: bold;
          cursor: pointer;
        }
        .buttonArrowStyle:hover {
          background-color: #fbf7f0;
        }

        .buttonTodayStyle {
          margin-left: 1.5rem;
          font-family: mv boli;
        }

      }
    }
  }

  .saveButton {
    width: 6%;
    margin-right: 5rem;
    margin-left: auto;
    margin-top: 0;
  
  }
}







