@import "./../../styles/variables.scss";



.dailyViewFrame {
  display: flex;
  flex-direction: column;

  .dailyPlannerFrame {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  
    .dailyPlannerform1 {
      width: 700px;
      margin-left: 30px;
      display: flex;
      flex-direction: column;
      margin-top: 3%;
  
      .checkBox {
        display: flex;
        width: 700px;
      }
    }
    
    .dailyPlannerform2 {
      margin-left: 20px;
      display: flex;
      flex-direction: column;
      margin-top: 16%;
  
      .shadowLine {
        border-bottom: 2px solid $brown700;
        margin-bottom: 15px;
      }
    }
  }

  .saveButton {
    width: 6%;
    margin-right: 5rem;
    margin-left: auto;
  
  }
}







