@import './../../../../styles/variables.scss';
.exerciseWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .exerciseContentContainer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100%;
    width: 100%;
    position: relative;
    .exerciseFormContainer {
      width: 70%;
      flex-direction: column;
      justify-content: flex-end;
      z-index: 10;
      .exerciseFormTitle {
        font-weight: bold;
        margin-top: 1vh;
        margin-bottom: 1.5vh;
        font-size: 1vw;
        color: $brown700;
        font-family: mv boli;
      }
      .exerciseFormInputContainer {
        display: flex;
        margin: 0.17vw;
        width: 100%;
        & > span {
          display: flex;
          justify-content: center;
          align-items: center;
          & > svg {
            font-size: 1vw;
          }
        }
        .exerciseFormInput {
          border-width: 0px;
          border: none;
          flex: auto;
          margin-left: 0.3vw;
          background-color: $brown250;
          color: $brown700;
          font-family: mv boli;
          border-radius: 1vw;
          padding-left: 0.5vw;
          font-size: 1.6vh;
          height: 70%;
          &:focus-visible {
            outline: 0.15vw solid $brown700;
          }
        }
      }
    }
    .exerciseStepContainer {
      display: flex;
      flex-direction: column-reverse;
      height: 100%;
      width: 15%;
      justify-content: center;
      transform: rotate(90deg);
      position: absolute;
      padding-left: 3vw;
      top: 0;
      right: 0;
      .exerciseStepInput {
        width: 22.5vh;
        height: 3vh;
        margin-top: 2vh;
        border: 0.15vw solid $brown700;
        border-radius: 1vw;
        text-align: center;
        font-family: mv boli;
        font-size: 1.2vw;
        color: $brown700;
        &:focus-visible {
          outline: 0.15vw solid $brown700;
        }
      }
      .exerciseStepTitle {
        font-size: 1.2vw;
        font-weight: bold;
        font-family: mv boli;
        color: $brown700;
        margin-left: 9vh;
        margin-top: -2vh;
      }
    }
  }
}
.exerciseHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2vh;
}

.scrollExercise {
  overflow-y: scroll;
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 22vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $brown700;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $brown700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbac7ef2;
} /* width */
::-webkit-scrollbar {
  width: 1vh;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $brown700;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $brown700;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #cbac7ef2;
}
