@import "./../../styles/variables.scss";

.bckImage {
  background: url("./../../assets/images/bck2.webp");
  background-size: cover;

  .sidebarDirection {
    width: 100%;
    // height: 100%;
    display: flex;

    .buttonsDirection {
      width: 100%;
    }
  }
}
