@import "./styles/variables.scss";

body,
body > div,
body > div > div,
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

// .react-calendar {
//   width: 850px;
//   max-width: 100%;
//   background: white;
//   border: 1px solid #a0a096;
//   font-family: Arial, Helvetica, sans-serif;
//   line-height: 6.125em;
// }

// .react-calendar__tile {
//   max-width: 100%;
//   padding: 10px 6.6667px;
//   background: none;
//   text-align: center;
//   line-height: 96px;
// }

.add-button {
  position: absolute;
  right: 20px;
  top: 20px;
}



