@import "./styles/variables.scss";
// * {
//   box-sizing: border-box;
//   margin: 0;
//   padding: 0;
// }
body,
body > div,
body > div > div,
html {
  // font-family: $font-primary;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

.user-header-name {
  right: 44px;
  position: absolute;
  font-size: 18px;
}

.field-icon i {
  color: white;
  width: 15px;
}

.password-field {
  margin-bottom: 50px;
}

.react-calendar {
  width: 850px;
  max-width: 100%;
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 6.125em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px 6.6667px;
  background: none;
  text-align: center;
  line-height: 96px;
}

// .calendar-position {
//   position: relative;
// }

.add-button {
  position: absolute;
  right: 20px;
  top: 20px;
}

.dayName {
  text-align: center;
  color: #ea4c89;
  font-family: cursive;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 2;
  font-size: 56px;
}

.dateStyle {
  font-family: cursive;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-top: 40px;
  padding-left: 10px;
  border-bottom: 2px solid $pink;
}

.note {
  font-family: cursive;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 10px;
  border-width: 0 0 2px;
  border-color: $pink;
  border-style: outset;
  margin-bottom: auto;
}

.parent {
  display: grid;
  height: 169px;
  width: 600px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 2px solid lightpink;
}

.inputWithoutBorders {
  border-width: 0px;
  border: none;
  width: 238px;
  font-size: 16px;
}

.checkBox {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 600px;
}

.moneyForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 0px;
  width: 600px;
  height: 50px;
}

.moneyIn {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 2;
}

.moneyOut {
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 2;
  grid-column-end: 3;
}

.moneyInputStyle {
  border: 2px solid #ea4c89;
  padding-top: 13px;
  border-radius: 15px;
  padding-left: 10px;
}

.plannerFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 600px;
}

.breakfast {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #ea4c89;
  padding-bottom: 10px;
}

.lunch {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #ea4c89;
  padding-bottom: 10px;
}

.dinner {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #ea4c89;
  padding-bottom: 10px;
}

.snack {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
  border-bottom: 1px solid #ea4c89;
  padding-bottom: 10px;
}

.mealLetter {
  padding-left: 10px;
  font-family: cursive;
  font-size: 20px;
}

.mealInput {
  border-width: 0px;
  border: none;
  width: 115px;
  font-size: 17px;
}

.exerciseAndHealthForm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 600px;
  height: 150px;
}

.inputWithoutBordersAll {
  border-width: 0px;
  border: none;
}

.steps {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;
}

.reverseInput {
  transform: rotate(90deg);
  width: 114px;
  height: 30px;
  margin-top: 60px;
  border-color: #ea4c89;
  margin-left: 28px;
  border-radius: 10px;
}

.reverseInputForm {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
}

.reverseText {
  writing-mode: vertical-rl;
  font-size: 17px;
  font-weight: bold;
  font-family: cursive;
  padding-top: 47px;
}

.exercisePart {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  width: 300px;
}
