@import "./styles/variables.scss";

body,
body > div,
body > div > div,
html {
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
}

.add-button {
  position: absolute;
  right: 20px;
  top: 20px;
}



