@import "./../../../../node_modules/react-calendar/dist/Calendar.css";
@import "./../../styles/variables.scss";

.calendar {
    display: block;
    position: relative;
    width: 100%;
    background: #f4ede0;
    border: 1px solid #d2b78b;
  }

  .react-calendar {
    width: 80%;
    background: #f4ede0;
    border: 1px solid #d2b78b;
    margin-left: 20px;
    margin-top: 30px;
    border-radius: 10px 0 0 10px;
  }

 .react-calendar__navigation__label__labelText.react-calendar__navigation__label__labelText--from {
    font-weight: bold;
    color: #7d5c39;
    font-size: 17px;
 }

 .react-calendar__tile--active:enabled:hover, .react-calendar__tile--active:enabled:focus {
    background: #cba795;
}

.react-calendar button:enabled:hover {
  cursor: pointer;
  background: #cba79547;
  border-radius: 68px;
  color: white;
}


.react-calendar__navigation__arrow.react-calendar__navigation__next-button {
    font-weight: bold;
    font-size: 16px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__next2-button {
    font-weight: bold;
    font-size: 16px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev-button {
    font-weight: bold;
    font-size: 16px;
}

.react-calendar__navigation__arrow.react-calendar__navigation__prev2-button {
    font-weight: bold;
    font-size: 16px;
}

.react-calendar__month-view__days__day--weekend {
    color: $brown700;
}

  .react-calendar__tile {
    max-width: 100%;
    padding: 10px 6.6667px;
    // background: none;
    text-align: center;
    line-height: 110px;
  }
  
  .calendar .header {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 115%;
    padding: 1.5em 0;
    border-bottom: 1px solid var(--border-color);
  }

  .react-calendar__tile--now {
    background: #f4ede0; 
}
  
  .calendar .header .icon {
    cursor: pointer;
    transition: .15s ease-out;
  }

  
  .calendar .header .icon:hover {
    transform: scale(1.75);
    transition: .25s ease-out;
    color: var(--main-color);
  }
  
  .calendar .header .icon:first-of-type {
    margin-left: 1em;
  }
  
  .calendar .header .icon:last-of-type {
    margin-right: 1em;
  }
  
  .calendar .days {
    text-transform: uppercase;
    font-weight: 400;
    color: var(--text-color-light);
    font-size: 70%;
    padding: .75em 0;
    border-bottom: 1px solid var(--border-color);
  }
  
  .calendar .body .cell {
    position: relative;
    height: 5em;
    border-right: 1px solid var(--border-color);
    overflow: hidden;
    cursor: pointer;
    background: var(--neutral-color);
    transition: 0.25s ease-out;
  }
  
  .calendar .body .cell:hover {
    background: var(--bg-color);
    transition: 0.5s ease-out;
  }
  
  .calendar .body .selected {
    border-left: 10px solid transparent;
    border-image: linear-gradient(45deg, #1a8fff 0%,#53cbf1 40%);
    border-image-slice: 1;
  }
  
  .calendar .body .row {
    border-bottom: 1px solid var(--border-color);
  }
  
  .calendar .body .row:last-child {
    border-bottom: none;
  }
  
  .calendar .body .cell:last-child {
    border-right: none;
  }
  
  .calendar .body .cell .number {
    position: absolute;
    font-size: 82.5%;
    line-height: 1;
    top: .75em;
    right: .75em;
    font-weight: 700;
  }
  
  .calendar .body .disabled {
    color: var(--text-color-light);
    pointer-events: none;
  }
  
  .calendar .body .cell .bg {
    font-weight: 700;
    line-height: 1;
    color: var(--main-color);
    opacity: 0;
    font-size: 8em;
    position: absolute;
    top: -.2em;
    right: -.05em;
    transition: .25s ease-out;
    letter-spacing: -.07em;
  }
  
  .calendar .body .cell:hover .bg, .calendar .body .selected .bg  {
    opacity: 0.05;
    transition: .5s ease-in;
  }
  
  .calendar .body .col {
    flex-grow: 0;
    flex-basis: calc(100%/7);
    width: calc(100%/7);
  }

  .react-calendar__tile--active {
    background: #cba795;
    color: white;
    border-radius: 68px;
    font-weight: bold;
}

  .monthlyFrame {
      display: flex;
  }

  .monthlyDayPreview {
    border: 1px solid #cba795;
    margin-top: 30px;
    width: 30%;
    margin-right: 20px;
    border-radius: 0 10px 10px 0;
    background-color: #cba795;
  }

  .dateStyleMonthly {
    font-size: 97px;
    text-align: center;
    color: white;
    margin: 5px;
    font-weight: bold;
  }

  .dayStyle {
    margin: 0px;
    text-align: center;
    font-size: 34px;
    color: white;
    margin-bottom: 50px;
  }

  .notebookIconFrame {
    display: flex;
    flex-direction: column;
  }

  .notebookIconStyle {
    height: 22px;
    width: 22px;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
  }