.buttonArrow {
    display: flex;
    margin-bottom: 5rem;
    margin-top: 10rem;
    justify-content: center;

    .buttonArrowStyle {
      margin-right: 4px;
      width: 4rem;
      height: 2rem;
      border-radius: 7px;
      border-color: #4f0200;
      background-color: #f0e7d6;
      color: #4f0200;
      font-weight: bold;
      cursor: pointer;
    }
    .buttonArrowStyle:hover {
      background-color: #fbf7f0;
    }

    .buttonTodayStyle {
      margin-left: 1.5rem;
      font-family: mv boli;
    }
}