@import './../../styles/variables.scss';

.line-input {
  border-width: 0px;
  border: none;
  width: 255px;
  font-size: 13px;
  border-bottom: 1px solid $brown700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.time-input {
  border-width: 0px;
  border: none;
  font-size: 1.6vh;
  height: 70%;
  border-bottom: 0.1vw solid $brown700;
  background: none;
  color: $brown700;
  font-family: mv boli;
  margin-bottom: 0.05vw;
  flex: auto;
  &:focus-visible {
    outline: none;
    border-bottom: 0.25vh solid $brown700;
    margin-bottom: 0;
  }
}

.checkbox-frame {
  border: 0.15vw solid $brown700;
  height: 1vw;
  width: 1vw;
  border-radius: 0.6vh;
  margin-right: 0.15vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  & > svg {
    font-size: 1vw;
  }
}
.checkbox-input {
  margin-bottom: 0;
  border-width: 0px;
  border: none;
  font-size: 1.6vh;
  height: 70%;
  border-bottom: 0.1vw solid $brown700;
  background: none;
  color: $brown700;
  font-family: mv boli;
  flex: auto;

  &:focus-visible {
    outline: none;
    border-bottom: 0.25vh solid $brown700;
    margin-bottom: 0;
  }
}

.icon-style {
  color: $brown700;
}

.checked-text {
  text-decoration: line-through;
}
