.lineInput {
  border-width: 0px;
  border: none;
  width: 255px;
  font-size: 13px;
  border-bottom: 1px solid #ea4c89;
}

.timeInput {
  border-width: 0px;
  border: none;
  width: 210px;
  font-size: 13px;
  border-bottom: 1px solid #ea4c89;
}

.checkboxInput {
  border-width: 0px;
  border: none;
  width: 255px;
  font-size: 13px;
  border-bottom: 1px solid #ea4c89;
}
