@import "../../styles/variables.scss";

.header {
  height: 45px;
  position: relative;

  .login_btn {
    right: 95px;
    top: 7px;
    position: absolute;
  }

  .registration_btn {
    right: 5px;
    top: 7px;
    position: absolute;
  }
  
  .registration_btn:hover,
  .login_btn:hover {
    background-color: $brown500;
  }
}





