@import './../../../../styles/variables.scss';
.foodForm {
  display: flex;
  flex-wrap: wrap;
  width: 80%;

  .foodBorder {
    padding-bottom: 2vh;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;

    .mealIcon {
      padding-left: 0.7vw;
      font-family: cursive;
      font-size: 1.5vw;
      color: $brown700;
      margin-right: 0.5vw;
    }

    .mealInput {
      border: none;
      font-size: 1vw;
      text-align: center;
      font-family: mv boli;
      flex: auto;
      border-radius: 1vw;
      color: $brown700;
      &:focus-visible {
        outline: 0.15vw solid $brown700;
      }
    }
  }
}
