@import './../../../styles/variables.scss';

.login-form {
  height: 45vh;
  width: 36vh;
  border: 3px solid $brown700;
  border-radius: 1vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $field_input_bck;

  .login-title {
    border: 3px solid $brown700;
    background-color: $brown700;
    color: $brown200;

    & > p {
      font-size: 3vh;
      font-weight: bold;
      text-align: center;
    }
  }

  .redirect-text {
    text-align: center;
    font-size: 1.4vh;
    font-family: mv boli;

    .redirect-link {
      color: $redirect;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.reset-password-link {
  color: #ae8b70;
  font-family: mv boli;
  font-size: 1.4vh;
  text-decoration: underline;
  margin-left: 14vh;
  cursor: pointer;
}

.reset-password-buttons {
  display: flex;
}

.enter-email-for-reset {
  font-family: mv boli;
  text-align: center;
  color: #4f0200;
  margin-bottom: 5vh;
  font-size: 1.7vh;
  font-weight: bold;
}

.Toastify__toast--error {
  width: 17vw !important;
  font-size: 1.5vh !important;
}

// .Toastify__toast-container--bottom-right {
//   right: -10vh !important;
// }
