@import './../../../styles/variables.scss';

.login-form {
  height: 42vh;
  width: 36vh;
  border: 3px solid $brown700;
  border-radius: 1vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $bck100;

  .login-title {
    border: 3px solid $brown700;
    background-color: $brown700;
    color: $brown200;

    & > p {
      font-size: 3vh;
      font-weight: bold;
      text-align: center;
    }
  }

  .redirect-text {
    text-align: center;
    font-size: 1.4vh;
    font-family: mv boli;

    .redirect-link {
      color: #ae8b70;
      text-decoration: underline;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
