@import './../../../../styles/variables.scss';

@import './../../../../../../node_modules/react-datepicker/dist/react-datepicker.css';

.date-form {
  border-bottom: 0.15vw solid $brown700;
  display: flex;
  font-weight: bold;
  align-items: flex-end;

  .date-input-form {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.hidden {
      opacity: 0;
    }

    .date-style {
      font-family: mv boli;
      padding-left: 0.7vh;
      border-bottom: 0.15vw solid $brown700;
      color: $brown700;
      position: relative;
      display: flex;
      & > p {
        margin: 0;
        margin-right: 0.5rem;
        line-height: 2vh;
        font-family: mv boli;
        font-size: 1vw;
      }

      .button-date-picker {
        position: absolute;
        right: 0%;
        bottom: 0.2vh;
        border: 0.15vw solid $brown700;
        border-radius: 0.4vw;
        background-color: transparent;
        cursor: pointer;
        padding: 0 0.7vw;
        height: 1.7vw;
        width: 1.7vw;
        align-items: center;
        display: flex;
        justify-content: center;
        & > svg {
          color: $brown700;
          font-size: 1.2vw;
        }
      }

      .date-picker {
        visibility: hidden;
        height: 0;
        padding: 0;
        width: 0;
        position: absolute;
      }
    }

    .note-container {
      padding-left: 0.7vh;
      border-width: 0 0 0.15vw;
      border-color: $brown700;
      border-style: solid;
      color: $brown700;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin-bottom: 0.5vh;
      height: 3vh;
      & > p {
        margin: 0;
        margin-right: 0.5rem;
        line-height: 2vh;
        font-family: mv boli;
        font-size: 1vw;
      }
      input {
        height: 1vw;
        font-weight: bold;
        margin: 0 0.2rem;
        color: $brown700;
        line-height: 1vw;
        font-family: mv boli;
        font-size: 1vw;
      }
    }
  }
  .date-main {
    display: flex;
    width: calc(100% - 21rem);
    justify-content: space-around;
    transform: translateY(3.5vh);
    align-items: center;

    .day-name {
      text-align: center;
      color: $brown700;
      font-family: mv boli;
      font-size: 4.5vw;
      margin: 0;
      width: 20vw;
    }

    svg {
      font-size: 3vw;
      color: $brown700;
    }

    .arrow-button {
      background: transparent;
      border: none;
      cursor: pointer;
    }
  }

  .input-without-borders {
    border-width: 0px;
    border: none;
    width: 20vw;
    font-size: 1vw;
    background: none;
    border-radius: 5px;

    &:focus-visible {
      outline: none;
    }
  }
}

.week {
  width: 65vh;
}

.with-week {
  font-size: 3.3vh !important;
  font-family: mv boli;
  text-align: center;
  color: $brown700;
  transform: translateY(2.5vh) !important;
}

.option-filter {
  display: flex;
  width: 50.5vh;

  .label-filter {
    font-size: 2.5vh;
    font-family: mv boli;
    justify-content: center;
    align-items: center;
    color: $brown700;
  }
  .select-filter {
    width: 21vh;
    background: #dcc4a3;
    text-align: center;
    color: $brown700;
    font-family: mv boli;
    font-size: 1.5vh;
    margin-left: 2vh;
    border-radius: 2vh;
    font-weight: bold;
    border-color: #b3966b;
  }
}

.hidden-border {
  border-bottom: none;
}

// Date Picker Style
.react-datepicker__tab-loop {
  position: relative !important;
}

.react-datepicker-wrapper {
  width: 0px !important;
  height: 0px;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  padding: -1px !important;
  margin-left: 11px !important;
}

.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  border-color: $brown700 !important;
}

.react-datepicker__header {
  background-color: $button_pressed !important;
  border-bottom: 1px solid $brown700 !important;
}

.react-datepicker {
  background-color: #f8f3e7 !important;
  border: 1px solid #d3bfac !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
  background-color: $brown700 !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  top: 0px;
  left: -3px;
  border-bottom-color: $brown700 !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::after {
  border-top: none;
  border-bottom-color: $brown700 !important;
}

.react-datepicker-popper[data-placement^='bottom']
  .react-datepicker__triangle::before {
  border-bottom-color: $brown700 !important;
  left: 3px !important;
}

.react-datepicker-popper {
  position: absolute !important;
  right: 1.5rem !important;
  transform: translate(5.75vw, 3vh) !important;
}

.react-datepicker__day:hover,
.react-datepicker__month-text:hover,
.react-datepicker__quarter-text:hover,
.react-datepicker__year-text:hover {
  background-color: #4f020024 !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
  color: black !important;
}
.react-datepicker__year-read-view--down-arrow,
.react-datepicker__month-read-view--down-arrow,
.react-datepicker__month-year-read-view--down-arrow,
.react-datepicker__navigation-icon::before {
  height: 0.8vh !important;
  width: 0.8vh !important;
  top: 0 !important;
}
.react-datepicker-popper[data-placement^='bottom'] {
  padding-top: 0px !important;
}

.react-select__menu {
  background-color: pink;
}

.css-1s2u09g-control {
  background-color: #fff6ee !important;
  border-color: hsl(0deg 100% 15%) !important;
  border-radius: 3vh !important;
}

.css-14el2xx-placeholder {
  color: hsl(0deg 100% 15%) !important;
}

.css-6j8wv5-Input {
  color: hsl(0deg 100% 15%) !important;
}

.css-1okebmr-indicatorSeparator {
  background-color: hsl(0deg 100% 15%) !important;
}

.css-tlfecz-indicatorContainer {
  color: hsl(0deg 100% 15%) !important;
}

.css-1s2u09g-control:hover {
  border-color: hsl(21deg 34% 69%) !important;
}

.css-1pahdxg-control:hover {
  border-color: #cda996a3 !important;
}

.css-1pahdxg-control {
  background-color: #fff6ee !important;
  box-shadow: 0 0 0 1px $brown700 !important;
  border: $brown700 !important;
}

.css-3191ph-ValueContainer {
  background-color: #fff6ee !important;
}

.css-2613qy-menu {
  background-color: #fff6ee !important;
}
.css-26l3qy-menu {
  box-shadow: none !important;
  background-color: transparent !important;
  .css-4ljt47-MenuList {
    background-color: #fff6ee !important;
    border-radius: 1.2vh !important;
    border: 0.1vw solid #5f1715 !important;
    .css-1n7v3ny-option {
      background-color: #cda996 !important;
      color: #fff6ee !important;
    }
  }
}

.react-datepicker__day--today,
.react-datepicker__month-text--today,
.react-datepicker__quarter-text--today,
.react-datepicker__year-text--today {
  font-weight: bold;
  border: 1.5px solid #4f0200;
  border-radius: 1vh;
}

.css-9gakcf-option {
  background-color: #cca895 !important;
}

.css-26l3qy-menu .css-4ljt47-MenuList .css-1n7v3ny-option {
  background-color: #b986706e !important;
  color: #fff6ee !important;
}

.date-main-monthly {
  transform: none !important;
  width: 100% !important;
}

.month {
  font-size: 3.5vh;
  font-family: mv boli;
  color: #4f0000;
  width: 31vh;
}
