@import './../../../../styles/variables.scss';

.plans-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: calc(100% - 6vh);
  width: 35vw;
  padding: 3vh 0;
  .title {
    margin-left: 1.875rem;
    margin-bottom: 1rem;
    font-size: 1.5vw;
    font-weight: bold;
    font-family: mv boli;
    color: $brown700;
  }
  .plan-input {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    .hour-style {
      margin: 0 0.5rem 0 0.5rem;
      color: $brown700;
      font-family: mv boli;
      font-size: 1.5vh;
      font-weight: 600;
      text-align: right;
      display: inline-block;
    }
  }
}
