$pink: #ea4c89;

.register_form {
  height: 478px;
  width: 329px;
  border: 3px solid $pink;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
  // margin-top: 21px;
}

.register-title {
  border: 3px solid $pink;
  background-color: $pink;
  color: white;
}
