@import "./../../styles/variables.scss";

.register_form {
  height: 478px;
  width: 329px;
  border: 3px solid $turquoise200;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-49%, -49%);
}

.register-title {
  border: 3px solid $turquoise200;
  background-color: $turquoise200;
  color: white;
}
