$nude100: #cf8c52;
$nude200: #be7535;

$turquoise100: #7ce4dc;
$turquoise200: #56ddd2;
$turquoise300: #21b6a8;

$brown100: #fff8f2;
$brown200: #fdeee2;
$brown250: #e2d2b8;
$brown300: #fddbbc;
$brown500: #ae8b70;
$brown700: #4f0000;

$field_input_bck: #fbfaf4;

$white: #ffffff;

$button_pressed: #f0e7d6;

$dropdown_hover: #d2bc9a;

$dark_red100: #ab1e00;

$redirect: #ae8b70;
