@import './../../styles/variables.scss';

.button-style {
  cursor: pointer;
  color: $white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background: transparent;
  font-size: 2.3vh;
  font-family: mv boli;
  color: $brown700;
  border: 1px solid $brown700;
  border-radius: 50%;
  height: 1.3vw;
  width: 1.2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 2px 0px 4px 0px $brown700;

  &:hover {
    background: linear-gradient(to bottom, $brown250 5%, #b5976d 100%);
    background-color: #dbc8a5;
  }

  &:active {
    position: relative;
    top: 1px;
  }
}
