@import "./../../../../styles/variables.scss";
.money {
  width: 600px;
  height: 85px;
  display: flex;
}

.moneyForm {
  border: 2px solid $brown700;
  padding-top: 13px;
  border-radius: 15px;
  text-align: center;
  width: 200px;
  height: 50px;
}

.moneyInput {
  width: 150px;
  border-width: 0px;
  border: none;
  background-color: #f8f3e9;
  font-size: 16px;
  border-bottom: 1px solid brown;
  text-align: center;
  
  margin-right: 3px;
  /* Chrome */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  /* Firefox */
  &[type=number] {
    -moz-appearance: textfield;
  }

  &:focus-visible {
    outline: 2px solid $brown700;
    border-radius: 5px;
  }
}

.moneyLabel {
  font-weight: bold;
  color: #4f0000;
  padding-bottom: 5px;
  font-family: mv boli;
}
