@import './../../../../styles/variables.scss';
.money-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  transform: translate(-7vh, 3vh);
  // transform: translateY(-3vh);
  .money-form {
    border: 2px solid $brown700;
    padding: 1vw;
    text-align: center;
    width: 13vw;
    height: 7vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: #e6d5bdad;
    justify-content: center;
    gap: 0.7vh;
    margin-top: 1vh;
    &.first {
      // border-width: 0 2px;
      border-top-left-radius: 1vw;
      border-top-right-radius: 1vw;
    }
    &.second {
      // border-bottom: 0;
    }
    &.third {
      border-bottom-left-radius: 1vw;
      border-bottom-right-radius: 1vw;
    }

    & input,
    label {
      width: 22vh;
      font-size: 2vh;
    }
    .money-label {
      font-weight: bold;
      color: $brown700;
      font-family: mv boli;
      width: 100%;
      text-align: center;
      font-size: 1.7vh;
    }
    .dolar-icon {
      color: $brown700;
      font-size: 1vw;
    }
    .money-field {
      border: none;
      background-color: #f8f3e9;
      font-size: 1vw;
      text-align: center;
      margin-right: 0.3vw;
      font-family: emoji;
      border-radius: 1vw;
      flex: auto;
      &.input {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        &[type='number'] {
          -moz-appearance: textfield;
        }

        &:focus-visible {
          outline: 0.15vw solid $brown700;
        }
      }
    }
  }
}
